<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>○×Quiz</title>
</head>

<h1>○×Quiz</h1>
<h4 th:object="${#authentication.principal.register}" th:text="|Welcome *{name} !! | " style="color: orange;"></h4>
<a th:href="@{/administrator/logout}">logout</a>
<h3 th:text="${title}">タイトル</h3>
<span th:text="${PleaseFillInTheBlanks}" style=color:red>msg</span>
<form th:action="${quizForm.newQuiz}? @{/quiz/insert} : @{/quiz/update}" th:object="${quizForm}" method="POST">
	<label>Question:</label><br>
	<textarea rows="5" cols="50" th:field="*{question}"></textarea><br>
	<label>Answer:</label><br>
	<input type="radio" value="true" th:field="*{answer}">「○」
	<input type="radio" value="false" th:field="*{answer}">「×」<br>
	<label>Author:</label><br>
	<input type="text" th:field="*{author}"><br>
	<input type="submit" value="submit">
</form>
<hr>
<!-------------------------------------　ここまで上部エリア　ーーーーーーーーーーーーーーーーーーーーーー>
<!-------------------------------------　ここから下部エリア　ーーーーーーーーーーーーーーーーーーーーーー>
　 　<!--▼▼▼　新規登録時のみ表示　▼▼▼-->
<div th:if="${quizForm.newQuiz}" style="margin: 10px">

	<!--ゲーム開始ボタン-->
	<h3>Challenge：<a th:href="@{/quiz/play}">Click here</a><br></h3>
	<!-- 削除完了コメント-->
	<p th:if="${delcomplete}" th:text="${delcomplete}" style="color: blue"></p>
	<p th:if="${msg}" th:text="${msg}" style="color: red;"></p>

	<h3 th:unless="${#lists.isEmpty(myList)}">My Lists:</h3>
	<table border="1" th:unless="${#lists.isEmpty(myList)}" style="table-layout: fixed;">
		<tr>
			<th>Question</th>
			<th>Answer</th>
			<th>Author</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		<!--<tr th:each="obj : ${myList}" align="center">
			<td th:text="${obj.question}" align="left"></td>
			<td th:text="${obj.answer} == true?'○':'×'"></td>
			<td th:text="${obj.author}"></td>-->

		<tr th:each="obj : ${myList}" align="center">
			<td th:text="${obj.question}" align="left"></td>
			<td th:text="${obj.answer} == true?'○':'×'"></td>
			<td th:text="${obj.author}"></td>
			<!--編集ボタン-->
			<td>
				<form th:action="@{/quiz/detail?id=}+${obj.id}" method="POST">
					<input type="submit" value="edit">
				</form>
			</td>

			<!--削除ボタン-->

			<td>
				<form method="POST" th:action="@{/quiz/delete?id=}+${obj.id}">
					<input type="submit" value="delete">
				</form>
			</td>
		</tr>
	</table>
</div>



<!--<form th:action="@{/quiz/list?=id}+${id}" th:object=${registerForm}>
	<strong> All Lists： </strong>
	<input type="hidden" th:field="*{id}">
	<input type="submit" value="Click Here">
</form>-->

<!--全件表示へのリンク-->
<h3>All Lists：<a th:href="@{/quiz/list}">Click here</a><br></h3>


<!--△△△　クイズ情報が１件でもあれば表示 △△△-->

<!--▼▼▼　クイズ情報が１件もない場合表示 ▼▼▼-->
<p th:if="${#lists.isEmpty(myList)}">登録されているクイズはありません</p>
<!--△△△　クイズ情報が１件もない場合表示　△△△-->

<!--▼▼▼　新規登録時でない時に表示 ▼▼▼-->
<h3 th:unless="${quizForm.newQuiz}">
	Main Menu:<a th:href="@{/quiz/myList}">Click here</a>
</h3>
<!--△△△　新規登録時出ない時に表示 △△△-->

</body>

</html>